{% extends 'base.html' %}

{% block content %}
<h2>Wallbox config registers</h2>
<table>
    <thead>
        <tr>
            {% for col in columns %}
                <th>{{col}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for item in row %}
                <td>{{item}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
<h2>Overwrite Wallbox registers</h2>
<form method="POST" action="">
    {{form.hidden_tag()}}
    <p>
        Overwrite register adr {{ form.adr }} to value {{ form.val }} - 
        <input type="submit" value="write">
    </p>
</form>

{% endblock %}