{% extends 'base.html' %}

{% block content %}
<form method="POST" action="">
    {{form.hidden_tag()}}
    <p>
        Data page for campaign.id {{ form.id }}
        <input type="submit" value="reload">
    </p>
</form>

<hr>
<h2>Light sensor data</h2>
<a href="{{ url_for('download', sensor='light', id=form.id.data) }}">download as .csv</a>
<table id="light" class="table table-striped">
    <thead>
        <tr>
            <th>datetime</th>
            <th>lux</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<hr>
<h2>Walli data</h2>
<a href="{{ url_for('download', sensor='walli', id=form.id.data) }}">download as .csv</a>
<table id="walli" class="table table-striped">
    <thead>
        <tr>
            <th>datetime</th>
            <th>temperature</th>
            <th>charging_state</th>
            <th>power_kW</th>
            <th>energy_kWh</th>
            <th>I_max_cmd</th>
            <th>I_fail_safe</th>           
    </tr>
    </thead>
    <tbody></tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#light').DataTable({
            ajax: '/api/data/light/' + {{form.id.data}},
            columns: [
                {'data': 'datetime'},
                {'data': 'lux'}
            ],
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#walli').DataTable({
            ajax: '/api/data/walli/' + {{form.id.data}},
            columns: [
                {'data': 'datetime'},
                {'data': 'temperature'},
                {'data': 'charging_state'},
                {'data': 'power_kW'},
                {'data': 'energy_kWh'},
                {'data': 'I_max_cmd'},
                {'data': 'I_fail_safe'}             
            ],
        });
    });
</script>
{% endblock %}


