{% extends 'base.html' %}

{% block content %}
<p>data page for campaign_id={{campaign_id}}</p>
<hr>
<h2>Light sensor data</h2>
<table id="light" class="table table-striped">
    <thead>
        <tr>
            <th>datetime</th>
            <th>lux</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h2>Walli data</h2>
<p>none</p>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#light').DataTable({
            ajax: '/api/data/light/' + {{campaign_id}},
            columns: [
                {'data': 'datetime'},
                {'data': 'lux'}
            ],
        });
    });
</script>
{% endblock %}