{% extends 'base.html' %}

{% block content %}
<h2>Measurement campaigns</h2>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>active</th>
            <th>start</th>
            <th>end</th>
            <th>interval</th>
            <th>measure walli</th>
            <th>measure light</th>
        </tr>
    </thead>
    <tbody>
        {% for cpn in campaigns %}
        <tr>
            <td>
                <a href="edit/{{cpn.id}}/" title="click to edit campaign {{cpn.id}}">
                    <button type="button">{{cpn.id}}</button>
                </a>
            </td>
            <td>{{cpn.title}}</td>
            <td>{{cpn.is_active}}</td>
            <td>{{cpn.start}}</td>
            <td>{{cpn.end}}</td>
            <td>{{cpn.interval}}</td>
            <td>{{cpn.measure_walli}}</td>
            <td>{{cpn.measure_light}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <a href="edit">
        <button type="button" title="create a new campaign">new</button>
    </a>
</p>
{% endblock %}