{% extends 'base.html' %}

{% block content %}
<h2>Walli home</h2>
<hr>
<h2>Hourly statistics of {{year}}</h2>
<p> Also available for 
    {% for y in other_years %}
        <a href={{ url_for("home") }}{{y}}>{{y}}</a>    
    {% endfor %}
</p>

{% for plot_name, plot_json in plots.items() %}
    <div id={{plot_name}}></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        Plotly.plot({{plot_name}}, {{plot_json | safe}}, {});
    </script>
{% endfor %}

{% endblock %}